{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Ogahslab{% else %}{{_('Welcome to Trial Home')}}{% endif %}
{% endblock %}


{% block head %}
{{super()}}
{#<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/blog.min.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
 <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">#}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}"><b>Ogahslab</b></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{_('Home')}}</a></li>
                    <li><a href="{{ url_for('main.blog') }}">{{_('Blog')}}</a></li>
                    <li><a href="{{ url_for('main.services') }}">{{_('Services')}}</a></li>
		               {% if g.search_form %}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                          <div class="form-group">
                             {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                           </div>
                    </form>
                       {% endif %}
			           {%  if current_user.can(Permission.WRITE) %}
                    <li><a href="{{ url_for('main.create') }}">{{_('Create')}}</a></li>
                   {# <li><a href="{{ url_for('main.store') }}">{{_('Files')}}</a></li>#}
                    <li><a href="{{ url_for('main.drafts') }}">{{_('Drafts')}}</a></li>
			           {% endif %}
			           {% if current_user.can(Permission.MODERATE) %}
                    <li><a href="{{ url_for('main.moderate') }}">Moderate</a></li>
                	{% endif %}

			         {% block extra_header %}{% endblock %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{_('Login')}}</a></li>
                    {% else %}

                    {#
                   <li> <a href="{{ url_for('main.messages') }}">{{ _('Messages') }}
                        {% set new_messages = current_user.new_messages() %}
                            <span id="message_count" class="badge"
                                style="visibility: {% if new_messages %} visible {% else %} hidden {% endif %};">
                                {{ new_messages }}
                            </span></a>
                    </li>
                        #}

                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{_('Logout')}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        <main role="main" class="container">
          <div class="row">
                <div class="col-md-9 blog-main">
                   {% block app_content %}{% endblock %}
                </div><!-- /.blog-main -->
                
	            <aside class="col-md-3 blog-sidebar">
                        <div class="p-3 mb-3 bg-light rounded">
                            <h4 class="font-italic"><b>About Me</b>
                            <p class="mb-1"> I am Engr. Ogah S.O, <em>A Data Scientist,AI and  IoT  hobbyist.</em> 
                                I have passion in learning by teaching and practicing computer engineering and electronics. 
                                After my first and second degree in this field of discipline, 
                                I decided to come up here to continue learning and teaching. 
                                Happy learning. <em> Your remarks and contributions is highly welcomed.</em>
                            <H5><b>TOGETHER WE CAN MAKE A BETTER LEARNING </b></H5>
                            </p></h4>
                        </div>

                        <div class="p-3">
                        <h4 class="font-italic">Archives</h4>
                            <ol class="list-unstyled mb-0">
                                <li><a href="#">Soon</li>
                                <li><a href="#">Soon</a></li>
                                <li><a href="#">Soon</a></li>
                            </ol>
                        </div>

                        <div class="p-3">
                            <h4 class="font-italic">Follow Us On</h4>
                            <ol class="list-unstyled">
                                <li><a href="https://github.com/ogahozy">GitHub</a></li>
                                <li><a href="@ogahozy">Twitter</a></li>
                                <li><a href="#">Facebook</a></li>
                            </ol>
                        </div>
                </aside><!-- /.blog-sidebar -->
	        </div><!-- /.row -->
        </main><!-- /.container -->
    </div>

	<footer>
        <hr/>
        <p>Ogahslab, &copy; 2020</p>
    </footer>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{moment.lang(g.locale)}}
<script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
$(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });


        {#
     function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                            since = notifications[i].timestamp;
                        }
                    }
                );
         }, 10000);
        });
        {% endif %}
        #}

    </script>
{% endblock %}
